* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===============================
Universal style
=================================*/
footer {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: right;
}

menu {
    list-style: none;
}




main {
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 2.3rem;
    padding-block: 2rem; 
}